/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Nov, 2016, 3:41:18 PM
    Author     : sai
*/

.container{
   margin-left: 500px;
   margin-top: 100px;
    
}
.welcome{
    font-size: 50px;
    font-family: cursive;
    
}
  #main
            {
               
                
                width: 350px;
                padding:10px;
                padding-left: 60px ;
                padding-right:30px;
                box-shadow: 0px 0px 50px 3px  #888888;
                border-radius: 2%;
                margin-left: 400px;
                margin-top: 100px;
            }
   #loginbtn
            {
                 margin-left: 100px;
                
            }          